.mapboxgl-ctrl-bottom-left,.mapboxgl-ctrl-bottom-right {
    display: none;
}

#loading,#maisInfo {
    background-image: url('assets/loadingbg.png');
    z-index: 110;
    display: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding-top: 90px;
    align-items: center;  
}


#maisInfo {
    height: -100;
    padding-top: 50px;
    opacity: 0;
    display: none;
    transition: height 0.5s, opacity 0.5s, display 1s, linear,;
}



.close:hover {
cursor: pointer;
}


.textoLoading {
   width: 60%;
   text-align: center;
   font-size: 15px;
   color: #232D18;
}

.frase {
    font-weight: 600;
    margin-bottom: 0;    
}

.carregandoGif {
   margin-top: 50px;
   margin-bottom: 30px;
}

 .loader {
     animation-name: fadeInOut;
     animation-duration: 2s;
     animation-iteration-count: infinite;
     -o-animation-timing-function: linear;
     opacity: 1;
 }

 @keyframes fadeInOut{
    50%{
        opacity: 0.3;
    }
 }

.creditos {
    margin-top: 20px;
    font-size: 14px;
    color: rgba(152, 152, 152, 1)
}