body {
    background: #FFDEBF;
    /* display: flex; */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0%;
    display: flex;
    font-family: 'Raleway', sans-serif;
}

#loading {
    background-image: url('assets/loadingbg.png');
    z-index: 110;
    display: block;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding-top: 20%;
    align-items: center;
    
}

.logo {
    margin-bottom: 30px;   
}

.textoLoading {
   width: 60%;
   text-align: center;
   font-size: 17px;
   color: #232D18;
}

.frase {
    font-weight: 600;
    margin-bottom: 0;    
}

.carregandoGif {
   margin-top: 60px;
   margin-bottom: 120px;
}

 .loader {
     animation-name: fadeInOut;
     animation-duration: 2s;
     animation-iteration-count: infinite;
     -o-animation-timing-function: linear;
     opacity: 1;
 }

 @keyframes fadeInOut{
    50%{
        opacity: 0.3;
    }
 }

.creditos {
    margin-top: 50px;
    font-size: 14px;
}

#dropdownMenu1 {
    background:  #FAF7EE;
    color: #C8BDA4;
    border-radius: 3px;
    font-size: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
    padding: 15px
}

#estadoSelecionado {
    flex-grow: 2;
    text-align: left;
}

.dropdown {
    width: 50%;
    margin-top: 15px;
}

.lupa {
    font-size: 20px;
}

#map {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.container-fluid {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 30px;
}

.container-fluid.bot {
    border: 2px solid green;
   
}
.busca {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#box-info {
   z-index: 101;
   display: flex;
   background: #FAF7EE;
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   margin: 0;
   border-radius: 3 3 0 0 ;
   box-shadow: -2px 4px 9px rgba(0, 0, 0, 0.25);
   font-size: 15px;
   text-align: center;
   padding-top: 30px;
}

.infoTitulo p {
    padding-bottom: 0;
    margin-bottom: 0;
}

.caveat {
    font-family: 'Caveat Brush', cursive;
    color: #232D18;
}

#estadoExib {
    font-family:  'Raleway', sans-serif;
    color: #C14B34;
    font-weight: 600;
}

.divisoria {
    color: rgba(200, 189, 164, 0.25);
}

#infoConteudo {
    color: #C14B34;
    font-size: 15px;
    text-align: center;
}

.infoFooter {
    color: rgba(35, 45, 24, 0.47);
    font-size: 13px;
    text-align: center;
}